:root {
  --color: white;
  --background-color: #253139;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  background-color: rgb(233, 231, 237);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.containers {
  display: grid;
  grid-template-columns: 47% 47%;
  gap: 6%;
}

.container-left {
  padding: 20px;
  margin: 5px;
  border: 3px solid #253139;
}
.container-right {
  padding: 20px;
  margin: 5px;
  border: 3px solid #253139;
}

.title-bar {
  background-color: var(--background-color);
  width: 100%;
  padding: 10px;
  margin: 5px;
}
.title-bar h1,
p {
  text-align: center;
  color: var(--color);
}
.profile-img {
  padding: 20px;
  text-align: center;
}
img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 10px solid #253139;
  padding: 5px;
  margin: 20px;
}
.contact-education-skills {
  background-color: var(--background-color);
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 10px;
}

.contact-title h2 {
  color: var(--color);
  font-size: 20px;
  border: 1px solid white;
  border-left: 0;
  padding: 10px;
}
.contact .fa-solid {
  color: var(--color);
  font-size: 10px;
  padding: 10px;
  display: flex;
  gap: 1rem;
}
.education h2 {
  color: var(--color);
  font-size: 20px;
  border: 1px solid white;
  border-left: 0;
  padding: 10px;
}
h3 {
  color: var(--color);
  font-size: 15px;
  padding: 10px;
}
.skills h2 {
  color: var(--color);
  border: 1px solid white;
  border-left: 0;
  padding: 10px;
  font-size: 20px;
}
ul li {
  text-decoration: none;
  color: var(--color);
  font-size: 15px;
  padding: 10px;
  list-style: none;
}

.checked {
  color: orange;
}

.container-right h2 {
  padding: 10px;
  font-size: 20px;
  color: black;
  text-align: center;
  margin: 5px;
  border: 1px solid black;
  border-left: 0;
}
.container-right p {
  color: #253139;
  text-align: justify;
  padding: 30px;
  font-size: 20px;
}
.container-right li {
  color: #253139;
  font-size: 20px;
  font-weight: 900;
  list-style: none;
  padding: 20px;
}
.container-right a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
a:hover {
  color: green;
}
